$color-base: rgb(0, 85, 255);
$color-important: rgb(63, 83, 156);
$color-warning: rgb(74, 163, 215);
$principal-font: "Arial", sans-serif;
$secondary-font: "Courier New", monospace;
$box-border-radius: 2px;
$box-shadow: -7px 7px 6px 1px rgba(0, 0, 0.5, 0.5);
