$color-base: rgb(124, 207, 117);
$color-important: rgb(64, 209, 148);
$color-warning: rgb(141, 220, 198);
$principal-font: helvetica, sans-serif;
$secondary-font: cursive;
$box-border-radius: 12px;
$box-shadow: 7px 7px 6px 1px rgba(0, 0, 0.5, 0.5);
