* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  color: rgb(7, 59, 74);
  margin-bottom: 1rem;
}

nav {
  background-color: rgb(15, 123, 152);
  display: flex;
  justify-content: center;
  ul {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      font-size: 1.2rem;
      font-weight: regular;
      color: rgb(255, 255, 255);
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 1rem;
      &:hover {
        background-color: rgb(22, 68, 81);
      }
    }
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    li {
      width: 100%;
    }
  }
}
